<%-include("header")-%>
<div class="contacts">
    <div class="contactName"><p>Name: </p></div> <br>
    <div class="contactAddress"><p>Address: </p></div> <br>
    <div class="contactPhone"><p>Phone: </p></div> <br>
    <div class="contactEmail"><p>Email: </p></div> <br>
</div>
<%-include("footer")-%>