<%-include("header")-%>
<div class="contacts">
    <div class="contactName nameOne"><p>Name: Jacob Turner</p></div> <br>
    <div class="contactAddress addrOne"><p>Address: 1 NotMyAdress Lane</p></div> <br>
    <div class="contactPhone phoneOne"><p>Phone: 0123 4567</p></div> <br>
    <div class="contactEmail emailOne"><p>Email: jmt2000@hw.ac.uk</p></div> <br>
    <br>
    <div class="contactName nameTwo"><p>Name: Benjamin Kenwright</p></div> <br>
    <div class="contactAddress addrTwo"><p>Address: 3 NotMyAdress Lane</p></div> <br>
    <div class="contactPhone phoneTwo"><p>Phone: 0123 7654</p></div> <br>
    <div class="contactEmail emailTwo"><p>Email: bk@something.com</p></div> <br>
</div>
<%-include("footer")-%>