<%-include("header")-%>
<form action="../controllers/clientController.js" method="get">
    <p>Username: </p>
    <input size="10" type="text">
    <br>
    <p>Password: </p>
    <input size="10" type="text">
    <br>
    <input type="submit" value="Submit">
</form>