<%-include("header")-%>
<form method="get">
    <p>Username: </p>
    <input size="10" type="text">
    <br>
    <p>Password: </p>
    <input size="10" type="text">
    <br>
    
    
    <input type="submit" value="Submit">
    <br>
</form>

<br>
<%-include("footer")-%>