<%-include("header")-%>
<form method="post">
    <p>Name: </p>
    <input size="10" type="text"><br>
    <p>Username: </p>
    <input size="10" type="text"><br>
    <p>Password: </p>
    <input size="10" type="password"><br>
    <p>Phone: </p>
    <input size="10" type="text"><br> 
    <p>Address: </p>
    <input size="10" type="text"><br> 
    <p>City: </p>
    <input size="10" type="text"><br> 
    <p>ZipCode: </p>
    <input size="10" type="text"><br> 
    <p>fax: </p>
    <input size="10" type="text"><br> 
    <p>payment: </p>
    <input size="10" type="text"><br> 
    <p>informations: </p>
    <input size="10" type="text"><br> 
    <p>max outstanding: </p>
    <input size="10" type="text"><br>
    <p>Confirmation: </p>
    <input size="10" type="text"><br>
    <br>
    <input size="10" type="submit" value="Submit"><br>
    <br>
</form>

<%-include("footer")-%>