<%-include("header")-%>
<form action="../controllers/clientController.js" method="post">
    <p>Name: </p>
    <input size="10" type="text"><br>
    <p>Username: </p>
    <input size="10" type="text"><br>
    <p>Password: </p>
    <input size="10" type="password"><br>
    <p>Phone: </p>
    <input size="10" type="text"><br> 
</form>

<p>Alreadt registered, <a href="login.ejs">Sign-in</a></p>

<%-include("footer")-%>